@import "tailwindcss";
@import '../vendor/flowbite/dist/flowbite.min.css';

@theme {
    --color-dark-600: #847356;
    --color-dark-500: #544c40;

    --color-primary-400: #99e6c9;
    --color-primary-500: #90ddc0;
    --color-primary-600: #4c987d;

    --color-accent-500:#093f2b;
}

@layer theme{
    :root {
        --font-sans: "Lora", "inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
    }
}

@layer components {
    .button {
        @apply bg-white text-accent-500 hover:bg-white/90 hover:outline-2 focus:ring-2 focus:ring-white/50 font-bold rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center;
    }

    .button2 {
        @apply bg-primary-500 text-accent-500 hover:bg-primary-500/90 hover:outline-2 focus:ring-2 focus:ring-white/50 font-bold rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center;
    }

    .hoverb {
        display: inline-block;
    }

    .hoverb:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #FFFFFF;
        transition: width .3s;
    }

    .hoverb:hover::after {
        width: 100%;
        transition: width .3s;
    }

    .mobile-menu {
        @apply space-y-6 py-6 h-full;
    }
    .menu {
        @apply space-y-6 lg:space-y-0 py-6 lg:py-0 h-dvh lg:h-auto;
    }
    .menu-item {
        @apply text-3xl lg:text-base font-bold justify-start relative
    }
}

/* https://fontsource.org/fonts/nunito-sans/cdn */
/* nunito-sans-latin-wght-normal */
@font-face {
    font-family: 'Nunito Sans Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 200 1000;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
    background-color: white;
}
