{% extends 'base.html.twig' %}

{% block title %}The Breathing Nook | About Ashley{% endblock %}

{% block body %}
    <section id="about" class="relative overflow-hidden">
        <div class="mx-auto max-w-screen-xl flex flex-col lg:flex-row items-center justify-between px-4 sm:px-6 lg:px-8 py-6 lg:py-12">
            <main class="mx-auto px-4 basis-100 lg:basis-2/3">
                <div class="text-left text-stone-700">
                    <h2 class="my-6 text-center text-2xl tracking-tight font-extrabold text-stone-700 sm:text-3xl md:text-4xl">
                        About me
                    </h2>

                    <p class="mb-2">
                        My first experience with breath work was on a wellness retreat - I had been dealing with chronic pain for almost two years and decided to try something new.  At the end of my first pranayama class, I noticed that the pain had subsided. I initially thought was a coincidence, but over the course of the next few days and the next few classes, the pain just kept subsiding.
                    </p>

                    <p class="mb-2">
                        After returning home, I read everything I could about breath work and discovered Pranayama. I quickly became a daily student and was transformed by the practice. I loved how healing and accessible the breathing was, and the relief it brought me.
                    </p>

                    <p class="mb-2">
                        Initially, I wanted to get certified so that I could elevate my own practice, but my teacher was so inspiring that it quickly grew into something bigger. As I offered practice sessions to friends and family, I felt so much gratitude from them and their experience, that I decided to dedicate more of my time to teaching and introducing others to Pranayama.
                    </p>

                    <p>
                        The classes I offer are meant to provide people a safe space to experience healing, reconnect, feel grounded and find a release. The brightest light is within; my goal is to help you find it.
                    </p>
                </div>
            </main>
            <div class="pt-12 lg:pt-24 basis-100 lg:basis-1/3">
                <img class="h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full lg:rounded-xl" src="{{ asset('images/About_Ashley.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <section class="bg-stone-100">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center sm:py-16 lg:px-6">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-stone-900">Education</h2>
            <div class="mt-8 lg:mt-12 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div data-aos="fade-up">
                    <h3 class="mb-4 text-xl lg:text-2xl font-bold text-stone-700">200 HR yoga teacher training</h3>
                    <p class="mb-4 text-stone-500">Completed a 200 HR Yoga Alliance Certification at The Lab Yoga Studio in Chicago.</p>
                </div>
                <div data-aos="fade-up" data-aos-delay="250">
                    <h3 class="mb-4 text-xl lg:text-2xl font-bold text-stone-700">Pranayama Certification</h3>
                    <p class="mb-4 text-stone-500">Completed two additional, pranayama focused, continuing education courses with Yoga Grace in Vancouver, Canada and Aham Yoga (Arundhati Baitmangalkar) in Seattle.</p>
                </div>
                <div data-aos="fade-up" data-aos-delay="500">
                    <h3 class="mb-4 text-xl lg:text-2xl font-bold text-stone-700">Yoga for bone health & osteoporosis </h3>
                    <p class="mb-4 text-stone-500">Completed a continuing education course on bone health, allowing me to support my students safely and effectively, from an evidence-based perspective.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white relative md:h-80 overflow-hidden">
        <img src="{{ asset('images/bg-cozy-room-big.jpg') }}" alt="Breathing Nook" class="absolute inset-0 object-cover w-full h-full opacity-30">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 relative">
            <div class="max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-stone-900">Questions? Let's chat!</h2>
                <p data-aos="fade-up" data-aos-delay="100" class="mb-8 font-light text-stone-500 sm:text-xl">Have questions or just want to chat? Book a free consultion with me!</p>
                <div data-aos="fade-up" data-aos-delay="500" class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                    <a href="#" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300">
                        Free consultation
                    </a>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}
